body {
    background-color: #ffaaff;
    color: whitesmoke;
}

img{
    width:200px;
    height:auto;
}

p{
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

}

.subparrafo{
    font-size:1.2em;
    color: magenta;
}

final{

}
