body {
    background-color: #ffaaff;
    color: whitesmoke;
}

img{
    width:200px;
    height:auto;
}

p{
    
.rubik-<uniquifier> {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

}

.subparrafo{
    font-size:1.2em;
    color: magenta;
}

final{

}
